{% include "main.html" %}

<div class="container-fluid main-1 text-center">
   <h3>Add a New Item to {{category.name}}</h3>
</div>
<div class="container-fluid main-2 text-center">
    <p>
        <form action="#" method = 'post'>                               
            <p>Name:
                <input type ='text' size='30' name='name'>     
            </p>    
            <p>Description:
                <input type ='text' size='30' name='description'>
            </p>
            <input type='submit' value='Create'>        
        </form>
    </p>
</div>
</body>
</html>
