{% include "main.html" %}

    <div class="container-fluid main-1 text-center">
        <h3>The Best Entertainment of 2017</h3>
        <img src="https://i.imgur.com/CeysKho.gif" class="img-fluid rounded-circle" style="display:inline" alt="Eating popcorn">
    </div>
    <div class="container-fluid main-2 text-center">
        <h3>Categories</h3>
            {% for category in categories %}
            <p>
                <a href = "{{url_for('showItems', category_id = category.id)}}">
                    <h4>{{category.name}}</h4>
                </a>
            </p>
            {% endfor %}
        </p>
    </div>
</body>
